@import "_variables";
@import "_mixin.scss";

.high-rating {
  padding-bottom: 70px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(420px, auto);
    grid-auto-rows: minmax(420px, auto);
    gap: $gutter;
  }

  &-card {
    &__image {
      max-width: 120%;
      margin-bottom: 16px;
    }

    &__name,
    &__price {
      margin-bottom: 24px;
    }
  }

  &__card-additional {
    display: none;
  }
}

.card-hidden {
  display: flex;
  visibility: visible;
}