@import "_variables";

.similar {
  padding-bottom: 70px;

  &__container {
    position: relative;
  }

  &__title {
    font-size: 24px;
  }

  &__list {
    display: flex;
    min-height: 420px;
    padding: 0;
    margin: 0;
    gap: 32px;
  }

  &__item {
    width: 296px;
    height: auto;
  }

  &-card {
    &__image {
      max-width: 272px;
      margin-bottom: 16px;
    }

    &__price {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 1300px) {
  .item-4 {
    display: none;
  }
}

@media (max-width: 970px) {
  .item-3 {
    display: none;
  }
}

@media (max-width: 600px) {
  .similar {
    &__list {
      min-height: 278px;
      gap: 16px;
    }

    &-card {
      padding: 16px;

      &__image {
        width: 108px;
        margin-bottom: 6px;
      }

      &__name {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 20.8px;
      }

      &__price {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 20.8px;
      }

      &__btn {
        padding: 10px 22px;
        width: 100%;
      }

      &__rating {
        left: 16px;
        top: 16px;
        padding-left: 19px;
        background-size: 13px 12px;
        font-size: 12px;
      }
    }
  }
}