@media (max-width: 1300px) {
  .special {
    &__picture:nth-child(2) .card {
      background-image: none;
    }

    &__picture--big {
      min-width: 296px;
    }
  }

  .special-image-2 {
    margin-bottom: 44px;
  }
}

@media (max-width: 990px) {

  .picture-3,
  .picture-4,
  .picture-5,
  .picture-6 {
    display: none;
  }

  .special__picture {
    min-width: 296px;
  }

  .special__card {
    padding: 30px 30px;
  }
}

@media (max-width: 650px) {

  .picture-3,
  .picture-4,
  .picture-5,
  .picture-6 {
    display: block !important;
  }

  .special {
    &__wrapper {
      flex-direction: column;
    }

    &__picture {
      height: 511px;
    }
  }

  .special__picture:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .special-image-2,
  .special-image-5 {
    margin-bottom: 48px;
  }
}