@media (max-width: 1024px) {
  .top {
    &__list {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 511px 511px;
    }

    &__item:nth-child(1) {
      grid-column: span 6;
      order: 1;
    }

    &__item,
    &__item:nth-child(2) {
      grid-column: span 3;
    }

    &__item:nth-child(2) {
      order: 4;
    }

    &__item:nth-child(3) {
      order: 2;
    }

    &__item:nth-child(4) {
      order: 3;
    }

    &__item:nth-child(5) {
      order: 5;
    }
  }

  .top-card-extra {
    margin-right: 0;
  }
}

@media (max-width: 970px) {
  .top {
    &__list {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 511px 511px 511px;
    }

    &__image {
      top: 126px;
    }

    &__item {
      grid-column: span 3;
    }

    &__item:nth-child(1) {
      grid-column: span 6;
    }

    &__item:nth-child(2) {
      order: 3;
    }
  }
}

@media (max-width: 600px) {
  .top {
    padding-top: 127px;

    &__list {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 332px 206px 206px;
      grid-column-gap: $gutter-mobile;
    }

    &__card {
      justify-content: flex-start;
    }

    &-card {
      &__item {
        margin-right: 20px;
      }

      &__btn-mobile {
        display: block;
        align-self: flex-end;
        margin-left: 5px;
        width: 22px;
        height: 22px;
      }

      &__image {
        top: auto;
        bottom: 16px;
      }

      &__name {
        margin: 0;
        font-size: 16px;
        line-height: 104%;
      }

      &__list {
        z-index: 1;
        margin-bottom: 24px;
      }

      &__links {
        display: flex;
        margin-bottom: 16px;
        align-items: center;
        z-index: 1;
      }

      &__btns {
        display: none;
      }

      &__item {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }

  .card-list-big {
    font-size: 14px;
  }

  .top-card-list {
    flex-wrap: nowrap;
  }

  .top-card-16 {
    padding: 16px;
  }

  .top-card-list-small {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .top-category-1 {
    margin-bottom: 4px;
  }

  .card-name-1 {
    font-size: 24px;
  }
}