@media (max-width: 1024px) {
  .useful {
    &__descr {
      font-size: 16px;
      line-height: 21.79px;
    }

    &__wrapper {
      min-height: 456px;
    }
  }

  .useful-picture-3 {
    display: flex;
  }

  .useful__picture:nth-child(1),
  .useful__picture:nth-child(2) {
    margin-right: 32px;
  }
}

@media (max-width: 970px) {
  .useful {
    padding-top: 35px;

    &__image {
      width: 100%;
    }

    &__info {
      min-height: 253px;
    }
  }

  .useful-picture-3 {
    display: none;
  }

  .useful__picture:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 600px) {

  .useful-picture-3,
  .useful-picture-4,
  .useful-picture-5 {
    display: flex;
  }

  .useful {
    &__wrapper {
      flex-direction: column;
    }
  }

  .useful__picture:nth-child(1) {
    margin-right: 0;
  }

  .useful__picture:not(:last-child) {
    margin-bottom: 26px;
  }
}